<div class="container">
  <div class="row">
    <div class="span8">  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1> Random Questions </h1>
        </div>
        
        <div class="panel-body">

          <script type="text/javascript">var submitted=false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='http://www.google.com';}"></iframe>
          <form action="https://docs.google.com/forms/d/1J4CjmwDcNcZgEHeJI2131yWfkNVfocUhF6j-v_fft5I/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
          
          <form role="form">
            <div class="form-group">            
              <label>1. Select A Random Option (Required) </label>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.868885894" value="Option 1" id="group_868885894_1" role="radio" class="ss-q-radio" aria-label="Option 1" required="" aria-required="true">
                    Option 1
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.868885894" value="Option 2" id="group_868885894_2" role="radio" class="ss-q-radio" aria-label="Option 2" required="" aria-required="true">
                    Option 2
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="entry.868885894" value="Option 3" id="group_868885894_3" role="radio" class="ss-q-radio" aria-label="Option 3" required="" aria-required="true">
                    Option 3
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label>2. Provide Random Answer Here (Required)</label>
                <input type="text" name="entry.287508272" value="" id="entry_287508272" dir="auto" aria-label="Provide a Random Answer  " aria-required="true" required="" title="" class="form-control" placeholder="Write Random Answer Here">
              </div>

              <div class="form-group">
                <label>3. Select One Random Option</label>
                <select name="entry.1795551740" id="entry_1795551740" aria-label="Select one Random Option  "><option value=""></option>
                  <option value="Option 1">Option 1</option> 
                  <option value="Option 2">Option 2</option> 
                  <option value="Option 3">Option 3</option>
                </select>
              </div>

              <div class="form-group">
                <label>4. Select Multiple Random Answers</label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="entry.1680159785" value="Option 1" id="group_1680159785_1" role="checkbox" class="ss-q-checkbox">
                    Option 1
                  </label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="entry.1680159785" value="Option 2" id="group_1680159785_2" role="checkbox" class="ss-q-checkbox">
                    Option 2
                  </label>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="entry.1680159785" value="Option 3" id="group_1680159785_3" role="checkbox" class="ss-q-checkbox">
                    Option 3
                  </label>
              </div>

              <div class="form-group"
                <input type="hidden" name="draftResponse" value="[,,&quot;4535662597353953688&quot;]">
                <input type="hidden" name="pageHistory" value="0">
                <input type="hidden" name="fbzx" value="4535662597353953688">
                <button type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

